.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7.5rem;
}
.header_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  gap: 2.5rem;
}
.header_li {
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  font-weight: 700;
}
.header_li:hover {
  color: #FBD784;
}
.header_account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  gap: 0.7rem;
  font-weight: 700;
}
.header_account img {
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
.header_account img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@-webkit-keyframes goDown {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(1.5rem);
            transform: translateY(1.5rem);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes goDown {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(1.5rem);
            transform: translateY(1.5rem);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 2.5rem 4rem 2.5rem 1.25rem;
}

.parallax {
  min-height: 100vh;
}
.parallax_body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.parallax_container {
  position: relative;
  z-index: 4;
}
.parallax_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 49rem;
  margin: 0 auto;
}
.parallax_content-subtitle {
  color: #FBD784;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.375rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.parallax_content-subtitle::before {
  display: inline-block;
  content: "";
  width: 4.5rem;
  height: 0.125rem;
  background-color: #FBD784;
}
.parallax_content-title {
  margin: 2rem 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 6.25rem;
  text-transform: capitalize;
}
.parallax_content-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  gap: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}
.parallax_content-scroll svg {
  -webkit-animation: goDown 3s infinite ease;
          animation: goDown 3s infinite ease;
}
.parallax_img {
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
}
.parallax .img-parallax_item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.parallax .img-parallax_item > div {
  position: absolute;
  width: 100%;
  height: 100%;
}
.parallax .img-parallax_item--clouds {
  background: url("../img/parallax/HG.jpg") top/cover no-repeat;
  top: 0;
}
.parallax .img-parallax_item--mountains {
  background: url("../img/parallax/MG.webp") top/cover no-repeat;
  top: 25%;
  z-index: 2;
}
.parallax .img-parallax_item--human {
  background: url("../img/parallax/VG.webp") top/cover no-repeat;
  top: 50%;
  z-index: 3;
}

@media (max-aspect-ratio: 3/2) {
  .img-parallax_item--human {
    background-position: 20% top !important;
  }
}
@-webkit-keyframes goRight {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  50% {
    -webkit-transform: translateX(1.5rem);
            transform: translateX(1.5rem);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes goRight {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  50% {
    -webkit-transform: translateX(1.5rem);
            transform: translateX(1.5rem);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
.content {
  position: relative;
  z-index: 2;
  background-color: #0B1D26;
}
.content::before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 300px;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(11, 28, 38, 0)), to(#0B1D26));
  background: linear-gradient(180deg, rgba(11, 28, 38, 0) 5%, #0B1D26 100%);
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12.5rem;
  position: relative;
}
.section_span {
  position: absolute;
  color: #FFFFFF;
  font-size: 15rem;
  font-weight: 700;
  line-height: 15rem;
  top: 2.5rem;
  opacity: 0.1;
}
.section_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.7rem;
  max-width: 40rem;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.section_content-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  color: #FBD784;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.375rem;
  text-transform: uppercase;
  gap: 2rem;
}
.section_content-subtitle::before {
  display: inline-block;
  content: "";
  width: 4.5rem;
  height: 0.125rem;
  background-color: #FBD784;
}
.section_content-title {
  font-size: 4rem;
}
.section_content-text {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2rem;
}
.section_content-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.section_content-more--text {
  color: #FBD784;
  font-size: 1.2rem;
  font-weight: 700;
}
.section_content-more a {
  -webkit-animation: goRight 3s infinite ease;
          animation: goRight 3s infinite ease;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  gap: 1rem;
  top: 28%;
  left: 3%;
  z-index: 6;
}
.socials_text {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: mixed;
  font-weight: 700;
}
.socials img {
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
.socials img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.slider {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  position: fixed;
  top: 28%;
  right: 2%;
  z-index: 6;
}
.slider_items {
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
  justify-items: end;
}
.slider_items .slide {
  cursor: pointer;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
.slider_items .slide:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.slider_items .active {
  color: #FBD784;
}
.slider .progress-bar {
  margin-left: auto;
  position: relative;
  width: 0.2rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.slider .progress-bar_counter {
  background-color: #FFFFFF;
  position: absolute;
  height: 0;
  width: 0.2rem;
  top: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_info {
  max-width: 32rem;
}
.footer_info-socials {
  display: none;
}
.footer_info-logo {
  margin-bottom: 1.5rem;
}
.footer_info-text {
  max-width: 19rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 8.5rem;
}
.footer_info-copyright {
  line-height: 2rem;
  opacity: 0.5;
}
.footer_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  gap: 13rem;
}
.footer_about-ul {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}
.footer_about-ul--title {
  margin-bottom: 0.5rem;
  color: #FBD784;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}
.footer_about-ul--li {
  line-height: 2rem;
}
.footer_about-ul--li:hover {
  color: #FBD784;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:focus {
  outline: none;
}

html, body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "Lunasima", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  overflow-x: hidden;
  background: linear-gradient(347deg, rgba(11, 29, 38, 0) 0%, #0B1D26 100%);
  color: #FFFFFF;
}

h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.wrapper {
  min-height: 100%;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
.logo:hover {
  -webkit-transform: translateY(45%);
          transform: translateY(45%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 29, 38, 0.9);
  z-index: 1000;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.overlay_list {
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
  font-size: 1.25rem;
  text-align: center;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
.overlay_list-item {
  display: block;
}
.overlay_list-item:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 1001;
  position: fixed;
  top: 42px;
  right: 25px;
  gap: 4px;
}
.burger .line {
  width: 25px;
  height: 2px;
  background-color: #FFFFFF;
  -webkit-transition: opacity 300ms ease, -webkit-transform 500ms ease;
  transition: opacity 300ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, opacity 300ms ease;
  transition: transform 500ms ease, opacity 300ms ease, -webkit-transform 500ms ease;
  z-index: 1001;
  cursor: pointer;
}

.active .line:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-3px, 3px);
          transform: rotate(-45deg) translate(-3px, 3px);
}
.active .line:nth-child(2) {
  opacity: 0;
}
.active .line:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 1440px) {
  .section {
    gap: 2rem;
  }
  .section_content {
    max-width: 32rem;
  }
  .section_content-subtitle {
    font-size: 1rem;
  }
  .section_content-title {
    font-size: 3.5rem;
  }
  .section_content-text {
    font-size: 0.9rem;
  }
  .section_content-more--text {
    font-size: 1rem;
  }
  .section img {
    width: 100%;
  }
  .footer_about {
    gap: 9rem;
  }
  .footer_about-ul--title {
    font-size: 1.2rem;
  }
}
@media (max-width: 1200px) {
  .footer_about {
    gap: 2rem;
  }
}
@media (max-width: 1050px) {
  .container {
    padding: 2.5rem 3.5rem 2.5rem 1.25rem;
  }
  .header {
    margin-bottom: 7rem;
  }
  .parallax_content {
    max-width: 39rem;
  }
  .parallax_content-title {
    font-size: 3.5rem;
  }
  .parallax .img-parallax_item--human {
    top: 55%;
  }
  .section_content {
    max-width: 22rem;
  }
  .section_content-title {
    font-size: 2.5rem;
  }
  .section_content-text {
    font-size: 0.8rem;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 2rem;
  }
  .footer_info {
    margin-left: auto;
  }
  .footer_info-text {
    margin: 0 auto 2.5rem;
    max-width: 17rem;
    text-align: center;
  }
  .footer_info-logo {
    text-align: center;
  }
  .footer_about {
    gap: 10rem;
  }
}
@media (max-width: 850px) {
  .container {
    padding: 2rem 3.25rem 2rem 1rem;
  }
  .header {
    margin-bottom: 5rem;
  }
  .header_ul {
    gap: 1.5rem;
  }
  .parallax_content {
    max-width: 28rem;
  }
  .parallax_content-subtitle {
    font-size: 1rem;
  }
  .parallax_content-subtitle::before {
    width: 4rem;
  }
  .parallax_content-title {
    font-size: 2.5rem;
    line-height: 4.25rem;
    margin: 1rem auto;
  }
  .parallax_content-scroll {
    font-size: 1rem;
  }
  .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    right: 3%;
    top: 20%;
  }
  .socials {
    left: 2%;
    top: 20%;
  }
  .section {
    display: -ms-grid;
    display: grid;
    margin-bottom: 8rem;
  }
  .section_content {
    max-width: 27rem;
  }
  .section_content-title {
    font-size: 2rem;
    max-width: 20rem;
  }
  .section_img {
    text-align: center;
  }
  .section_img img {
    width: 85%;
  }
  .footer_info {
    margin-left: 0;
  }
}
@media (max-width: 650px) {
  .burger {
    display: -ms-grid;
    display: grid;
  }
  .header_nav {
    display: none;
  }
  .parallax_content {
    max-width: 22rem;
  }
  .parallax_content-subtitle {
    font-size: 1rem;
  }
  .parallax_content-subtitle::before {
    width: 3rem;
  }
  .parallax_content-title {
    font-size: 2rem;
    line-height: 3.25rem;
    margin: 1rem auto;
  }
  .section {
    margin-bottom: 6re;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 2rem 2.75rem 2rem 0;
  }
  .slider {
    top: 40%;
  }
  .socials {
    display: none;
  }
  .parallax_content {
    max-width: 17rem;
  }
  .parallax_content-title {
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 1rem auto;
  }
  .parallax_content-subtitle {
    gap: 1rem;
  }
  .section {
    margin-bottom: 4rem;
  }
  .section_span {
    font-size: 11rem;
    line-height: 2rem;
  }
  .section_content {
    max-width: 22rem;
  }
  .section_content-subtitle {
    gap: 1rem;
  }
  .section_content-subtitle::before {
    width: 3rem;
  }
  .section_content-title {
    font-size: 1.25rem;
  }
  .section_content-text {
    font-size: 0.7rem;
  }
  .section_content-more--text {
    font-size: 0.9rem;
  }
  .footer_about {
    gap: 3rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer_info-text {
    margin-bottom: 0 auto 1.5rem;
  }
  .footer_info-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
  }
  .footer_info-copyright {
    font-size: 0.8rem;
  }
}